# Force GitHub to count these files in stats (do not treat as generated)
*.py linguist-generated=false

# Force GitHub to classify them as Python (prevent Roff misclassification)
*.py linguist-language=Python
